name: check failure application

on:
  push:

jobs:
  build-job:
    runs-on: self-hosted
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: build-script
        run: |
          echo "building script"
          sh $GITHUB_WORKSPACE/test/test.sh
      - name: test-script
        if: success()
        run: |
          echo "sucees test result"
      - name: test-failure
        if: failure()
        run: |
          echo "this is failure steps"
      - name: test-always
        if: always()
        run: |
          echo "this will execte always"
  test-job:
    runs-on: self-hosted
    concurrency: single-build
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: excute default variable printing
        run: |
          echo "${{github.repository}}"
          echo "${{github.ref}}"
          echo "${{github.actor}}"
          echo "${{github.sha}}"
          echo "${{github.workflow}}"
          sleep 60
          echo "hellow no-concurrency"
  test-concurrency:
    runs-on: self-hosted
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: excute default variable printing
        run: |
          echo "${{github.repository}}"
          echo "${{github.ref}}"
          echo "${{github.actor}}"
          sleep 40